@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #eee;
  color: #333;
}

header {
  width: 100vw;
  height: 92px;
  padding: 5px 0 0 21px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  color: #fff;
  background: #cf2b2b;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font: 44px/55px "Righteous", cursive;
  letter-spacing: -0.012em;
}

header p {
  font-size: 18px;
  line-height: 21px;
}

main {
  margin: 92px 0 108px;
}

.container h2 {
  font: 26px/32px "Righteous", cursive;
  padding-top: 31px;
  margin-left: 19px;
}

section > div {
  display: flex;
  gap: 16px;
  overflow: scroll;
  padding: 0 19px;
  margin-top: 17px;
}

.food {
  min-width: 172px;
  width: 172px;
  height: 216px;

  background: #fff;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.food.selected {
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25), inset 0 0 0 5px #32b72f;
}

ion-icon {
  position: absolute;
  bottom: 14px;
  right: 11px;

  font-size: 19px;
  color: #32b72f;
  opacity: 0;
}

.selected ion-icon {
  opacity: 1;
}

img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.description {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;

  color: #a6a6a6;
}

.container .price {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

footer {
  width: 100vw;
  height: 92px;
  background: #fff;

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  width: 90%;
  height: 61px;

  border-radius: 50px;
  font-size: 20px;
  line-height: 23px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.018em;
}

footer button:disabled {
  background: #cbcbcb;
}

footer button:not(:disabled) {
  font-weight: 700;
  background: #32b72f;
}

dialog {
  width: 90%;
  height: 353px;
  border-radius: 9px;
  border: none;

  color: #fff;
  font-size: 22px;
  line-height: 26px;

  background: #50d074;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0.9);
}

dialog h2 {
  font-weight: 700;
  text-align: center;
}

.order {
  margin: 26px 0;
}

.order div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.order p {
  letter-spacing: 0.018em;
}

.order .total {
  font-weight: 700;
  text-transform: uppercase;
}

.confirm {
  width: 100%;
  height: 52px;

  font-weight: 700;
  text-align: center;

  letter-spacing: 0.018em;
  color: #50d074;
  background: #fff;
  border-radius: 100px;
}

.cancel {
  display: block;
  margin: 14px auto;
}
